.resetPassword-form-wrapper {

  .resetPassword-form {
    max-width: 300px;
    margin: 0 auto;
  }

  .resetPassword-form-forgot {
    float: right;
  }

  .resetPassword-form-button {
    width: 100%;
  }
}
