.resetPassword-form-wrapper {
  max-width: 300px;
  margin: 0 auto;

  .resetPassword-form {
    margin: 0 auto;
  }

  .resetPassword-form-forgot {
    float: right;
  }

  .resetPassword-form-button {
    width: 100%;
  }
}

.reset-password-tips {
  text-align: center;

  .text-success {
    font-size: 18px;
    font-weight: bold;
    color: #00a854;
  }
}
