*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

#dist folder
dist

coverage

# IDEA/Webstorm project files
*.iml
.idea/

#yarn cache
.yarn-cache

#VSCode metadata
.vscode

# Mac files
.DS_Store
.DS_STORE
