@mixin in-decrease-icon {
  content: '';
  background-position: center;
  background-size: 100%;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
@mixin in-decrease {
  .increase {
    color: #78cd51 !important;
    &.icon:before {
      background: url('../assets/imgs/shangshen.png') no-repeat;
      @include in-decrease-icon();
    }
  }
  .decrease {
    color: #ff5f5f !important;
    &.icon:before {
      background: url('../assets/imgs/xiajiang.png') no-repeat;
      @include in-decrease-icon();
    }
  }
}

@mixin table-row-rise-angle {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
}
@mixin table-row-rise {
  // table row最右边的涨幅升降箭头
  span.rise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.up:after {
      @include table-row-rise-angle();
      margin-bottom: 6px;
      border-bottom-color: #78cd51;
    }
    &.down:after {
      @include table-row-rise-angle();
      margin-top: 6px;
      border-top-color: #ff5f5f;
    }
  }
}

@mixin table {
  table {
    .ant-table-thead {
      th {
        font-weight: bold;
      }
    }
    .ant-table-tbody {
      tr {
        height: 48px;
        td {
          padding-top: 0;
          padding-bottom: 0;
          &.highlight {
            color: #3f86ff;
          }
        }
      }
    }
  }
}

@mixin card {
  .ant-card-head {
    height: 58px;
    padding-left: 25px !important;
    .ant-card-head-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      .ant-card-head-title {
        span {
          font-size: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #3f5163;
          img {
            padding-right: 10px;
            width: auto;
            height: 20px;
          }
        }
      }
    }
  }
  .ant-card-body {
    // padding: 20px 0 !important;
    padding-top: 20px !important;
  }
}

// ================== each chart ===================

@mixin dash-block {
  .dash-block {
    .wrap-outer {
      background: #fff;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      border-radius: 5px;
      .wrap-inner {
        display: flex;
        flex-direction: row;
        .left {
          flex: 1;
          margin-right: 10px;
          text-align: center;
          img {
            width: 100%;
            max-width: 75px;
            overflow: hidden;
            border-radius: 50%;
          }
        }
        .right {
          flex: 3;
          width: calc(100% - 50px - 10px);
          display: flex;
          flex-direction: column;
          .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #a6a9ab;
            .label,
            .rate {
              color: #bbb;
              font-size: 18px;
              display: flex;
              align-items: center;
            }
          }
          .value {
            font-size: 30px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #4f657c;
            font-family: '微软雅黑', sans-serif;
          }
        }
      }
    }
  }
}

@mixin dash-hotGoods {
  .dash-hotGoods {
    .ant-card-body {
      min-height: 550px;
      padding: 10px 52px !important;
      .ant-table {
        min-height: 534px;
        .ant-table-placeholder {
          height: 480px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        span.rank {
          width: 28px;
          height: 28px;
          background: #ebeff5;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          line-height: 28px;
          &.rank1,
          &.rank2,
          &.rank3 {
            color: #fff;
          }
          &.rank1 {
            background: #ff6a6a;
          }
          &.rank2 {
            background: #3f86ff;
          }
          &.rank3 {
            background: #ffaf52;
          }
        }
      }
    }
  }
}

@mixin dash-hotCategory {
  .dash-hotCategory {
    .ant-card-body {
      padding: 10px 0 !important;
    }
  }
}

@mixin dash-salesRegion {
  .dash-salesRegion {
    .total {
      font-size: 16px;
      color: #4f657c;
      // margin-top: 20px;
      margin-left: 10%;
      span {
        margin-right: 20px;
      }
    }
  }
}

@mixin dash-ss {
  .dash-ss {
    .ant-card-body {
      padding: 20px 45px !important;
      .top-info {
        .title {
          font-size: 14px;
          color: #4a5469;
        }
        div + div {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          .sum {
            font-size: 34px;
            color: #4f657c;
            margin-right: 30px;
          }
          .rate {
            line-height: 34px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
      .ant-table {
        min-height: 300px;
        .ant-table-placeholder {
          height: 246px;
          display: flex;
          justify-content: center;
          // align-items: center;
        }
        td {
          @include table-row-rise();
        }
      }
    }
  }
}

.dash-infos {
  @include in-decrease();
  @include card();
  @include table();
  // block
  @include dash-block();
  @include dash-hotGoods();
  @include dash-hotCategory();
  // 销售地域
  @include dash-salesRegion();
  //search & share
  @include dash-ss();
  // block后面的图表
  .dash-block ~ div {
    margin: 16px 0;
  }

  @media screen and (max-width: 400px) {
    & {
      overflow: hidden;
      margin: 10px !important;
      .dash-block {
        & ~ div {
          margin: 5px 0;
        }
        & > div {
          margin-bottom: 10px;
        }
      }
      .dash-hotGoods,
      .dash-ss {
        .ant-card-body {
          padding: 10px !important;
        }
      }
    }
  }
}
