.product-list-wrapper {
  .page-container {
    background: #fff;
    border-radius: 10px;
    padding-right: 15px;
    text-align: right;
    padding: 15px;
  }
  .ant-form-item-label {
    clear: both;
  }
}
