// .page-layout__viewport {
//   // padding-top: 4rem;
// }

// .page-layout__nav-item--active {
//   font-weight: bold;
//   text-decoration: underline;
// }
.page-title {
  margin: 10px 5px;
  padding-bottom: 5px;
  font-size: 20px;
  // border-bottom: 1px solid #f3f3f3;
}

.header + div {
  padding: 10px 15px;
}
