// .page-layout__viewport {
//   // padding-top: 4rem;
// }

// .page-layout__nav-item--active {
//   font-weight: bold;
//   text-decoration: underline;
// }
.container {
  height: 100%;

  .ant-layout {
    height: 100%;
    background-color: transparent;
  }

  .ant-layout-sider {
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;

    &.ant-layout-sider-collapsed {
      .ant-menu-inline,
      .ant-menu-vertical {
        border-right: 1px solid #e9e9e9;
      }
    }

    .ant-menu-inline,
    .ant-menu-vertical {
      border-right-width: 0;
    }
  }

  .ant-layout-sider-trigger {
    background-color: #333c47;
  }

  .ant-layout-footer {
    border-top: 1px solid #e9e9e9;
  }
}
.page-title {
  margin: 10px 5px;
  padding-bottom: 5px;
  font-size: 20px;
  // border-bottom: 1px solid #f3f3f3;
}

.header {
  & + div {
    padding: 10px 15px 0 15px;
  }

  & + .ant-layout-has-sider {
    padding-left: 0;
  }
}
