.container {
  height: 100%;

  .layout {
    height: 100%;
  }

  .ant-layout {
    background-color: #ebeff5;
  }

  .ant-layout-sider {
    background-color: #fff;
    // border-right: 1px solid #c0c0c0;
    box-shadow: 0 0 1px rgba(0, 21, 41, 0.35);

    // &.ant-layout-sider-collapsed {
    //   .ant-menu-inline,
    //   .ant-menu-vertical {
    //     // border-right: 1px solid #c0c0c0;
    //   }
    // }
    // FIXED: 菜单展开大于屏幕高度后无法滚动
    .ant-layout-sider-children {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .ant-menu-inline,
    .ant-menu-vertical {
      border-right-width: 0;
    }
  }

  .ant-layout-sider-trigger {
    background-color: rgba(0,0,0,.65);
  }

  .ant-layout-sider-zero-width-trigger {
    z-index: 999;
    background-color: rgba(0,0,0,.65);
  }

  // .ant-layout-footer {
  //   border-top: 1px solid #c0c0c0;
  // }

  .ant-breadcrumb {
    padding: 12.5px 15px 12.5px 30px;
    // background-color: #fff;
  }

  .ant-pagination-options-size-changer {
    margin-right: 8px;
  }
}

// .page-layout__nav-item--active {
//   font-weight: bold;
//   text-decoration: underline;
// }

.page-layout__viewport {
  height: 100%;
  // padding-top: 64px;

  .page-loading {
    width: 100%;
    height: 100%;
    z-index: 999;

    & > div > .ant-spin {
      max-height: 500px;
    }

    .ant-spin-container {
      height: 100%;
    }

    .ant-spin-text {
      margin-top: 10px;
    }

    & > .ant-spin-blur {
      opacity: 0;
    }
  }
}

.page-layout__container {
  position: relative;
  height: auto;
  min-height: 100%;
}

.page-layout__wrapper {
  margin: 0 30px 15px;
}

.page-title {
  padding:  5px 0 10px;
  margin-bottom: 0;
  font-size: 22px;
  // background-color: #fff;

  small {
    margin-left: 10px;
    color: rgba(0,0,0,.65);
    font-weight: normal;
  }
}

.page-navs {

  &.ant-menu {
    margin: 0 0 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
  }
}

.header {
  & + .ant-layout-has-sider {
    padding-top: 0;
    padding-left: 0;
  }
}

.search-filter-wrapper {
  margin-bottom: 15px;

  .ant-form-item {
    margin-bottom: 10px;
  }
}
