.act-info {
  .ant-steps {
    margin-bottom: 20px;
  }
  .title {
    font-size: 20px;
  }
  .ant-form-extra {
    clear: both;
  }
  .ant-upload-list-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
